*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Medida se baseia na borda, e não no conteúdo. */ 
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase; /* Coloca tudo para maiúsculo */ 
}

body{
    background-color: black;
    background-image: url(../assets/others/background.svg);
    background-position-x: center;
    background-position-y: 20%;
}
#app{ 
    width: fit-content;  /* A largura terá o tamanho necessário para armazenar o conteúdo. Ou seja, o tamanho da caixa irá se basear na quantidade de conteúdo. */ 
    margin: 55px auto;
}

header{ /* Cabeçalho, contém: Logo */ 
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.card{ /* Cartão, contém: Dia da semana   &   mês/dia   &   horário   &   países que irão jogar */ 
    border: 1px solid #f7dc439f;
    border-radius: 10px;
    background-color: #1D1C19;
    padding: 20px 40px;
    text-align: center;
}


.card h2{  /* Cartão, contém: Dia semana   &   mês/dia */
    display: flex;           
    justify-content: center; 
    gap: 16px;         
    align-items: center;   
    width: fit-content;
    margin: auto; 
    border: 1px solid  #e9d04476;
    border-radius: 9px;
    padding: 8px 15px;
    color: #F7DD43;
    margin-bottom: 44px;
}
.DayOfTheWeek{
    font-size: large;
    color: #E1E1E6;
}   
.card ul{
    display: flex;
    flex-direction: column;
    gap: 42px;
    width: 270px;

}
.card ul li + li{ /* Toda a declaration abaixo só sera adicionada caso exista uma <li> antes de uma <li> */
    padding-top: 36px;
    border-top: 1px solid rgba(123, 110, 110, 0.445);
    border-radius: 5px;
}


.card ul li{ /* Cartão, contém: Horário  &  países que irão jogar */  
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}
.card ul li strong{ /* Cartão, contém: Horário */ 
    line-height: 145%;
    font-weight: 900;
    font-size: 36px;
    color: #E1E1E6;
}


/*
Explicando algumas propriedades e seus valores.: 

display: flex;         
- Imagine que você possui um contaíner, e você através do "display: flex", podemos cortar este contêiner em duas partes.
> Ambas as partes pegaram o centro do contêiner e o cortaram, uma cortou na vertical, e a outra na horizontal. 
> Com isto, agora podemos organizar os conteúdos dentro deste contêiner de maneira completa. 
> Podemos pegar um conteúdo, escolher se ele vai ficar no centro na vertical, ou para cima, baixo e etc..
> Assim como podemos escolher se ele vai ficar no centro na horizontal, para a esquerda, direita, meia esquerda e etc.. 
- Tags filhas e irmãs serão agrupadas. 


gap: Unidade_de_medida;                
- Significa "abertura"
- É utilizada para alterar o espaço entre as tags irmãs feitas pelo "display: flex"
- Está no shorthand, então altera o espaço na linha e na coluna.
- Utilize row-gap para o espaço dentro da linham, e grid-gap para o espaço na coluna. 


justify-content: center;  
- Estamos dizendo em qual posição o conteúdo irá ficar na horizontal (centro, esquerda, meio esquerda, direita..)


align-items: center;      
- Estamos dizendo em qual posição o conteúdo irá ficar na vertical (totalmente para cima, baixo, meio, abaixo do centro..)

*/ 
