*{  
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: #E1E1E6;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    background-image: var(--background-name);
    background-repeat: no-repeat;
    animation: entrada 2.5s forwards;

}
:root{
    /* Borda que aparece quando há mais de um jogo no mesmo dia. Esta borda separa os jogos */
    --between-games-border-color: rgba(123, 110, 110, 0.445);

}



/* Cabeçalho, contém: Logo | Mudar a cor */ 
header{ 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 95px;
}
header #cores{
    display: flex;
    gap: 5px;
}
header img{
    box-sizing: border-box;
    margin-inline: 400px;
}



/* Todos os calendários*/
#cartoes{ 
    display: flex;
    justify-content: center;
    gap: 20px;
} 

/* TUDO DENTRO DO CARTÃO: dia da semana   &  mês/dia  &   horário  &  países que irão jogar   */ 
.card{ 
    width: fit-content;  
    border-bottom: 1.3px solid var(--card-border-color);
    border-radius: 14px;
    background-color: var(--card-color);
    padding: 20px 40px;
    text-align: center;
    height: fit-content;
    text-transform: uppercase; /* Coloca tudo para maiúsculo */ 
    opacity: 0;
    animation: visibility 1s forwards;
}
/*  Dia semana  &  mês/dia   */
.card h2{  
    display: flex;           
    justify-content: center; 
    align-items: center;   
    gap: 16px;         
    width: fit-content;
    margin: auto auto 44px;
    padding: 8px 15px;
    border: 1px solid  var(--date-border-color);
    border-radius: 9px;
    color: var(--date-text-color);
}
/* Times   &   horários   &   bordas de separação entre <li> */
.card ul{ 
    display: flex;
    flex-direction: column;
    gap: 42px;
    width: 270px;
}


/* Toda a declaration abaixo só sera adicionada caso exista uma <li> antes de uma <li> */
.card ul li + li{ 
    padding-top: 36px;
    border-top: 1px solid var(--between-games-border-color);
    border-radius: 5px;
}

/* Horário  &  países que irão jogar */ 
.card ul li{  
    display: flex;
    text-align: center;
    justify-content: space-between;    
}
/* Somente o horário */ 
.card ul li strong{ 
    line-height: 145%;
    font-weight: 900;
    font-size: 37px;
    color: #E1E1E6;
}





footer{ 
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-top: 2px;
    justify-content: center;
}
footer input{ 
    width: fit-content;
    height: fit-content;
    padding: 6.4px;
    background-color: #70261f;
    border-radius: 9px;
}
footer input:hover{ 
    opacity: 0.7;
}



body.normal-color{ 
    --background-name: url(../assets/Backgrounds/BC_Normal.svg);
    --card-color: #2f163d;
    --card-border-color: #f743bb9f; 
    --date-border-color: #a30fb076;
    --date-text-color: #ed88d7;
}
body.blue{ 
    --background-name: url(../assets/Backgrounds/BC_Blue.svg);
    --card-color: #1c1f3a;
    --card-border-color: #43d3f79f; 
    --date-border-color: #2cd0ea76;
    --date-text-color: #9bf2d8;

}
body.green{ 
    --background-name: url(../assets/Backgrounds/BC_Green.svg);
    --card-color: #191d19;
    --card-border-color: #2fc6179f; 
    --date-border-color: #44e9aa76;
    --date-text-color: #8fec6b;
}
body.red{
    --background-name: url(../assets/Backgrounds/BC_Red.svg);
    --card-color: #3a1c1c;
    --card-border-color: #de2817; 
    --date-border-color: #f1395a;
    --date-text-color: #e77e7e;
}






/*          Animações               */
.card{ 
    transition: 245ms transform cubic-bezier(.42, 0, .65, 1.7);

}
.card:hover{ 
    transform: scale(1.07);
    transition: 100ms transform cubic-bezier(.42, 0, .65, 1.7);
}


@keyframes visibility{
    0%{ 
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes entrada{ 
    from{
        background-position: 45deg, 0%;
        background-size: 180%;
    }
    to{
        background-position: 100%;
        background-size: 100%;
    }


    
}


/*
Explicando algumas propriedades e seus valores.: 

display: flex;         
- Imagine que você possui um contaíner, e você através do "display: flex", podemos cortar este contêiner em duas partes.
> Ambas as partes pegaram o centro do contêiner e o cortaram, uma cortou na vertical, e a outra na horizontal. 
> Com isto, agora podemos organizar os conteúdos dentro deste contêiner de maneira completa. 
> Podemos pegar um conteúdo, escolher se ele vai ficar no centro na vertical, ou para cima, baixo e etc..
> Assim como podemos escolher se ele vai ficar no centro na horizontal, para a esquerda, direita, meia esquerda e etc.. 
- Tags filhas e irmãs serão agrupadas. 


gap: Unidade_de_medida;                
- Significa "abertura"
- É utilizada para alterar o espaço entre as tags irmãs feitas pelo "display: flex"
- Está no shorthand, então altera o espaço na linha e na coluna.
- Utilize row-gap para o espaço dentro da linham, e grid-gap para o espaço na coluna. 


justify-content: center;  
- Estamos dizendo em qual posição o conteúdo irá ficar na horizontal (centro, esquerda, meio esquerda, direita..)


align-items: center;      
- Estamos dizendo em qual posição o conteúdo irá ficar na vertical (totalmente para cima, baixo, meio, abaixo do centro..)

*/ 
